html {
  font-size: 14px;
}

body {
  background-color: #cdcad3;
  color: white;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  display: grid;
}

header {
  display: inline-block;
  background-color: red;
  z-index: 999;
}

#fixed-header-container {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  z-index: 1;
  position: fixed;
  height: 10em;
  width: 100%;
  left: 50%;
  top: 0%;
  margin: 0 0 0 -50%; /* half the width for the left margin */
  padding: 0;
}

#navbar_img {
  position: absolute;
  width: 100%;
  max-height: 10em;
  display: block;
  z-index: -1; /* to place img behind all*/
  margin-left: 0;
  margin-top: 0;
  box-sizing: content-box;
}

.personal-brand {
  display: flex;
  align-items: center;
}

.personal-brand img {
  max-height: 4.375em;
}

.brand-text {
  margin-left: 0.75em;
  line-height: 1.75em;
}

.page-title {
  color: rgb(30, 30, 80);
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  height: 1em;
}

.page-author {
  margin: 0;
  font-size: 1.25em;
}

.nav-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: end;
  text-shadow: #fc0 1px 0 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: darkkhaki;
}

a:link {
  color: coral;
}

a:visited {
  color: coral;
}

a:hover {
  text-decoration: underline;
  color: chocolate;
}

a:active,
.question-link:active {
  color: gold;
}
/* -----end of header----- */

/* -----start of main----- */
main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.banner-top {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 1em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 6em 0 0 0; /* change to 5 for production */
  z-index: 10;
}

#banner_img {
  width: 100%;
}

.test-hover-effect {
  --s: 0.1em; /* the thickness of the line */
  --c: #ff2cea; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, rgba(115, 230, 230, 0.986) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  text-shadow: 1px 1px 2px rgb(91, 199, 232);
}

.test-hover-effect:hover {
  --_p: 100%;
}

.overlay {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  z-index: 2;
  /* line-height: 1.5em; */
}

.main-container {
  display: flex;
  margin: 0;
}

.content {
  background-color: whitesmoke;
  color: #070035;
}

/* Horizontal line */
#banner-bottom,
#About,
#Projects,
#Skills {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.175em solid #070035;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.info-card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
  justify-content: center;
}

.info-image {
  display: flex;
  max-height: 18em;
  min-width: 15em;
  margin: 0;
}

.info-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}

#Projects {
  text-align: center;
}
.cards-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  align-items: flex-end;
  border: 1px solid #070035;
  border-radius: 1em;
  margin: 1em;
  background-color: #fbffde;
}

.skill-card {
  display: flex;
  border: 1px solid #070035;
  border-radius: 1em;
  margin: 1em;
  background-color: #fbffde;
  min-width: 8.5em;
  align-items: center;
  justify-content: center;
}

.project-card figure {
  max-width: 18em;
  overflow: hidden;
  margin: 1.75em;
}

.project-card img {
  width: 100%;
  height: auto;
}

summary {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.5em;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

#Skills {
  text-align: center;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.skill-card figure {
  max-width: 6.5em;
  min-height: 5em;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  margin: 1.25em;
}

.skill-card img {
  min-height: 3em;
  max-height: 3.5em;
  width: 100%;
  height: auto;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.social-media figure {
  max-width: 5em;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  margin: 1.25em;
}

.social-media img {
  max-height: 3em;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 2.5em;
  margin: 1.5em;
}

@media screen and (min-width: 1024px) {
  header {
    margin: 2.5em;
    justify-content: space-between;
  }
  .brand-text {
    margin-left: 2.5em;
    line-height: 2.5em;
  }

  .page-title {
    font-size: 4em;
  }

  .page-author {
    font-size: 1.75em;
  }

  nav {
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .nav-item {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
  }

  .nav-item:hover {
    color: white;
    background-color: green;
    border-radius: 0.2em;
    transition-delay: 0.15s;
  }

  h1 {
    font-size: 5em;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }

  #About,
  #Projects,
  #Skills {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-card-left {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .cards-container {
    flex-direction: row;
  }
}
